Django==5.2.5
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
psycopg2==2.9.10
python-dotenv==1.1.1
flake8==7.3.0
isort==6.0.1
pillow==11.3.0
django-filter==25.1
stripe==12.5.0
drf-yasg==1.21.10
celery==5.5.3
redis==6.4.0
django-celery-beat==2.8.1
gunicorn
django-redis